acme==4.0.0
apt-listchanges==4.8
autocommand==2.2.2
bcrypt==4.2.0
certbot==4.0.0
certbot-nginx==4.0.0
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.2
ConfigArgParse==1.7
configobj==5.0.9
cryptography==43.0.0
distro==1.9.0
idna==3.10
inflect==7.3.1
jaraco.context==6.0.1
jaraco.functools==4.1.0
josepy==2.0.0
more-itertools==10.7.0
packaging==25.0
parsedatetime==2.6
Pygments==2.18.0
PyICU==2.14
pyOpenSSL==25.0.0
pyparsing==3.1.2
pyRFC3339==2.0.1
python-apt==3.0.0
python-debian==1.0.1
python-debianbts==4.1.1
pytz==2025.2
PyYAML==6.0.2
reportbug==13.2.0
requests==2.32.3
supervisor==4.2.5
typeguard==4.4.2
typing_extensions==4.13.2
ufw==0.36.2
urllib3==2.3.0
wheel==0.46.1
